*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
	list-style: none;
}


body {
    background-color: rgb(236, 236, 236);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mb-50 {

    margin-bottom: 50px;
}

.banner {
    width: 100%;
    height: 100px;
    background-color: white;
}

.logo {
    vertical-align: middle;
    padding-left: 30px;
    height: 90px;
}

.banner-title {
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
    
}

.nav-box {

    background-color: white;
    width: 1024px;
    height: 80px;
    border-radius: 25px 25px 0 0;
    margin-bottom: 5px;
}

.nav-button-container {
    width: 320px;
    height: 50px;
    margin-left: 50px;
}


.button-nav {
    width: 150px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 15px;

}

#task {
    background-color: rgb(56, 107, 216);
    color: white;
}

#section {
    border: 1px solid black;
    margin-left: 10px;
}


.main-box {

        background-color: white;
        width: 1024px;
        height: 800px;
        border-radius: 0 0 25px 25px;
        margin-bottom: 20px;

}

.section-marg-pad {
    margin-left: 50px;
    padding-top: 50px;
}

.section-title {
    font-size: 35px;
}

.circle{

    height: 15px;
    width: 15px;
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    
}

.green {
    border-color: green;
    color: green;
}

.red {
    border-color: red;
    color: red;
}

.section-text{
    display: inline;
    margin-left: 30px;
    font-size: 25px;
}

.section-button {
    width: 100px;
    height: 30;
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 25px;
    border-radius: 10px;
    font-size: 15px;
}

.editorial {
    background-color: rgb(56, 107, 216);
}

.q1-goals {
    background-color: blueviolet;
}

.recruiting {
    background-color: lightgreen;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: palevioletred;
}

.sales {
    background-color: limegreen;
}

.mt20 {
    margin-top: 20px;
}